# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# AWS
.aws/

# IDE
.vscode/
.idea/

# Lambda deployment artifacts
lambda-function/deployment/
lambda-function/*.zip

# Lambda testing artifacts
response.json