# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
requirements-dev.txt

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# AWS
.aws/

# IDE
.vscode/
.idea/

# Lambda deployment artifacts
lambda-function/deployment/
lambda-function/*.zip
lambda-function/test_local.py

# Lambda testing artifacts
response.json